@font-face {
    font-family: 'zabras';
    src: url('./fonts/Zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/desert.png');
    background-position: center;
    background-size: cover;
    user-select: none;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

canvas {
    background-color: black;
    display: block;
}

.start-screen {
    position: absolute;
    top: 0;
}

.start-img {
    height: 480px;
    width: 720px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    bottom: 0;
    width: 720px;
}

button {
    cursor: pointer;
    border: none;
    margin: 5px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: rgb(246, 206, 73);
}

button:hover {
    background-color: rgb(249, 189, 0);
}

.d-none{
    display: none;
}

.fullscreen-display {
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Smartphones ------- */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}